@import '../../../Asset/Scss/Variable.scss';

// .Dashboard-nav{
//     background-color: $secondaryColor;
//    ul{
//     list-style-type: none;
    
//    } 
//    li a{
//     text-decoration: none;
//     font-size: 20px;
//     color: $primaryColor;
//    }
//    li{
//     padding: 10px;
   
//    }
// }
.main{
    width: 100%;
    max-height: 100vh;
}
.Dash{
    width: 100%;
    img{
        width:100%;
    }
}